#paral {
    color: white;
}
#V1 {
    height: 20px;
    background-color: #C1292E;
}
#V2 {
    height: 20px;
    background-color: #bd022d;
}
#V3 {
    height: 20px;
    background-color: #D52941;
}
#V4 {
    height: 20px;
    background-color: #9B111E;
}
#p1 {
    height: 20px;
    background-color: #02020B;
}
#p2 {
    height: 20px;
    background-color: #0B0A07;
}
#p3 {
    height: 20px;
    background-color: #586A6A;
}
#p4 {
    height: 20px;
    background-color: #241023;
}
#p5 {
    height: 20px;
    background-color: #0F110C;
}
#l1 {
    height: 20px;
    background-color: #d48104;
}
#l2 {
    height: 20px;
    background-color: #E6AF2E;
}
#l3 {
    height: 20px;
    background-color: #E3B23C;
}
#l4 {
    height: 20px;
    background-color: #FFCA3A;
}
#l5 {
    height: 20px;
    background-color: #F0A202;
}
#rs1 {
    height: 20px;
    background-color: #c202a5;
}
#rs2 {
    height: 20px;
    background-color: #F7A1C4;
}
#rs3 {
    height: 20px;
    background-color: #FBACBE;
}
#rs4 {
    height: 20px;
    background-color: #FF6978;
}
#rs5 {
    height: 20px;
    background-color: #FC6DAB;
}
#rs6 {
    height: 20px;
    background-color: #DE6FA1;
}
#rx1 {
    height: 20px;
    background-color: #c202a5;
}
#rx2 {
    height: 20px;
    background-color: #7C238C;
}
#rx3 {
    height: 20px;
    background-color: #311847;
}
#rx4 {
    height: 20px;
    background-color: #6461A0;
}
#rx5 {
    height: 20px;
    background-color: #5F0A87;
}